.bash_history
.pulse-cookie
.Xauthority
.viminfo
.xsession-errors

.aptitude/
.cache/
.dbus/
.fontconfig/
.fonts/
.gimp-2.8/
.macromedia/
.mozilla/
.pki/
.pulse/
.ssh/
.thumbnails/

.confutil/current/
.vim/.netrwhist

Documents/
Downloads/
Music/
Pictures/
Projects/
Videos/

*.swp
*.deb
*.rpm
*.bin
